@import '../common/common.scss';
//@import '../header/header.scss'

@mixin text ($s, $w, $c) {
    font-size: $s;
    font-weight: $w;
    color: $c;
}

.header {
    height: auto;

    &__bg {
        //background-color: #e74c3c;
        background-color: #3c3f41;
    }
    .header__burger {
        &-row {
            width: 100%;
            height: 40px;
            background-color: #be1c0a;
            z-index: 10;
        }
        &-ul {
            height: 40px;
            display: flex;
            justify-content: left;
            align-items: center;
            li {
                margin: 0 40px;
            }
        }
    }

    &__row {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        //background-color: #e74c3c;

        background-color: #3c3f41;
    }

    &__logo {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    &__call {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
    }

    &__katalog {
        width: 100px;
        height: 40px;
        color: white;
        background-color: #3c3f41;
        border: 2px solid white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__text {
        font-family: 'Istok Web', sans-serif;
        color: #fff;
        padding-left: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    &__call {
        margin-left: 10%;
        color: #fff;
        img {
            margin-left: 20px;
        }
    }
    
    &__phone {
        margin-left: 10px;
        color: #fff;
        p {
            padding: 3px;
        }
    }

    &__basket {
        width: 40px;
        height: 100%;
    }

    &__menu {
        z-index: 1;
    }

    &__list {
        display: none;
        list-style: none;
        &_2 {
            height: 40px;
            align-items: center;
            display: flex;
            justify-content: space-around;
            list-style: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 17%;
                height: 100%;
                transition: 0.2s all ease;

                &:hover {

                    a {
                        color: #fff;
                        
                    }
                }
            }
            
            a {
                color: #333;
                transition: all .3s;
                font-weight: bold;
                text-decoration: none;
                padding: 10px;
                // &:hover {
                //     color: #fff;
                // }
            }
            &-bg {
                width: 100%;
                background-color: #e74c3c;
            }
        }
        
    }

	&-row {
		&_2 {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 150px;
            position: relative;
            input {
                width: 420px;
                height: 40px;
                border: none;
                border-radius: 5px;
                background-color: rgb(221, 216, 216);
                margin-left: 100px;
                outline: none;
                padding-left: 10px;
                &::placeholder {
                    
                }
            }
            img {
            }
            &-img {
                position: absolute;
                left: 0;
                top: 10px;
            }
            &__shop {
                width: 30px;
                height: 30px;
                margin-right: 40px;
            }
            &__user {
                width: 30px;
                height: 30px;
            }
            &-icons {
                position: absolute;
                right: 0;
            }
            &-img {
                width: 150px;
                height: 120px;
            }
        }
        &_3 {
            width: 100%;
            height: 40px;
            background-color: #e74c3c;
            z-index: 10;
        }
    }
    
    @media (max-width: 768px) {
        &__katalog {
            display: none;
        }
        &__call {
            margin-left: 0;
            padding-right: 30px;
        }
        &__text {
            display: none;
        }
        .header-row {
            &_2 {
                min-height: 100px;
                justify-content: center;
                &-logo {
                    margin-right: 40px;
                    margin-left: 20px;
                }
                &-img {
                    width: 70px;
                    height: 70px;
                }
                &__text {
                    display: none;
                }
                &__shop {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
                &__user {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
                
                img {

                }
                input {
                    display: none;
                }
            }
            &_3 {
                display: none;
            }
        }
        
        .header__burger {
            display: block;
            position: absolute;
            width: 30px;
            height: 20px;
            z-index: 11;
            cursor: pointer;
            left: 10px;
            top: 20px;
            &-row {
                width: 100%;
                height: 40px;
                position: absolute;
                top: 0;
                background-color: #111;
                z-index: 10;
                img {
                    position: absolute;
                    right: 0;
                }
            }
            &-ul {
                
            }
        }
        .header__burger span {
            position: absolute;
            background-color: #fff;
            right: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all .3s ease 0s;
    
        }
    
        .header__burger::before,
        .header__burger::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            transition: all .3s ease 0s;
        }
        .header__burger::before {
            top: 0;
    
        }
        .header__burger::after {
            bottom: 0;
        }
    
        .header__burger.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header__burger.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        
        .header__burger.active span {
            transform: scale(0);
        }
        
        .header__menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 40%;
            height: 100%;
            background-color: #e74c3c;
            transition: all .5s ease 0s;
            padding: 70px 0 0 0;
        }
    
        .header__menu.active {
            left: 0;
            justify-content: center;
            overflow: auto;
            z-index: 10;
        }
    
        .header__list {
            display: block;
            align-items: center;
            padding: 30px 10px 20px 10px;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
    
            text-align: center;
    
            li {
                padding-top: 15%;
            }
            &_2 {
                display: none;
            }
    
        }
       
        
    }
    @media(max-width: 668px) {
        &__row {
        }
        &__logo {
            img {
                width: 80px;
                height: 80px;
            }
        }
        &__call {
            padding-right: 0px;
        }
        
    }
    @media (max-width: 450px) {
        &__logo {
        }
        &__phone {
            font-size: 12px;

        }
        &__katalog {
            display: none;
        }
        .header__menu {
            width: 70%;
        }
        
    }
}



//=== main_page ===//------------------------------------------------------------------------> 

.sidebar {
    width: 200px;
    height: 200%;
    background-color: #ece7e7;
    padding-top: 155px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;

    &__item {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid silver;
        transition: 0.2s all ease;
        cursor: pointer;

        a {
            text-decoration: none;
            @include text (16px, regular, #333);
        }

        &:first-child {
            border-top: 1px solid silver;
        }

        &:hover {
            background-color: silver;
        }
    }

    @media(max-width: 768px) {
        display: none;
    }
    
}

.catalog .container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    
}
.catalog {
    width: 100%;
    
    &__bg {
        background-image: url(../img/bg_catalog.jpg);
    }

        &__block {
            height: 400px;
            margin-left: 20px;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
		&__title {
            text-align: center;
            font-size: 70px;
            margin-bottom: 30px;

            
		}

		&__subtitle {
            text-align: center;
            margin-bottom: 15px;
            
		}

		&__btn {
            text-align: center;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                border: none;
                background-color: #e74c3c;
                width: 200px;
                height: 60px;
                font-size: 20px;
                border-radius: 10px;
                outline: none;
                transition: all .3s;
                &:hover {
                    width: 210px;
                    height: 70px;
                    color: #fff;
                    background-color: lighten(#e74c3c, 3);
                    font-size: 22px;
                }
            }
        }
    @media(max-width: 768px) {
        &__btn {
            height: 130px;
            padding-bottom: 20px;
            button {
               
            }
        }
        &__title {
            padding-top: 40px;
            font-size: 50px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 20px;
        }
        &__block {
            margin-right: 20px;
        }
    }
}



.wrap {

    &__inner {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        padding-left: 200px;
    }
    @media(max-width: 768px) {
        &__inner {
            padding-left: 0;
        }
    }
}


//=== exclusive ===// ----------------------------------------------->

.exclusive {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__block {
        margin: 0 30px 30px 30px;
        padding: 10px;
        width: 400px;
        text-align: center;
        position: relative;
        background-color: rgb(243, 240, 240);
        &:hover {
            box-shadow: 0 0 15px 8px silver;
            button {
                opacity: 1;
            }
        }
        img {
            width: 100%;
        }


    }

    &__block-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__block-subtitle {
       margin-bottom: 15px;
    }
    

	&__block-btn {
        button {
            opacity: 0;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            outline: none;
            background-color: #e74c3c;
            transition: opacity .3s;
        }
    }
    
    @media(max-width: 768px) {
        &__block {
            max-width: 200px;
            max-width: 230px;
            margin-bottom: 10px;
            button {
                opacity: 1;
            }
        }
    }


}

//=== slider ===// --------------------------------------------------------------------------->
.portfolio {
    display: flex;
    
    margin-bottom: 60px;
}

.slider {
    padding: 50px 0px;
    position: relative;
    &__title {
        text-align: center;
        font-size: 50px;
        font-weight: normal;
        padding: 40px 0 0 0;

    }
    &__item {
        display: flex;
        justify-content: center;
        outline: none;
        img {
            width: 430px;
            height: 330px;
            
        }
    }    

    &__btn {
        text-align: center;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            border: none;
            background-color: #e74c3c;
            width: 200px;
            height: 60px;
            font-size: 20px;
            border-radius: 10px;
            outline: none;
            transition: all .3s;
            &:hover {
                width: 210px;
                height: 70px;
                color: #fff;
                background-color: lighten(#e74c3c, 3);
                font-size: 22px;
            }
        }
    }

    &__bg {
        background-color: rgb(173, 170, 170);
    }
    @media(max-width: 768px) {
        margin-left: 0;
    }
    @media(max-width: 468px) {
        &__title {
            font-size: 40px;
        }
        &__item {
            img {
                width: 280px;
                height: 230px;
            }
        }
    }
}

/* Слайдер */
.slick-slider{
    margin: 0 20px;
    min-width: 0;
}

/* Слайдер запущен */
.slick-slider.slick-initialized{}

/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
    
}

/* Слайд */
.slick-slide{}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}

/* Слайд основной */
.slick-slide.slick-current{}

/* Слайд по центру */
.slick-slide.slick-center{}

/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 50%;
    margin: -50px -20px 0 -20px;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    @media (max-width: 468px) {
        width: 20px;
        height: 60px;
        margin: -40px 0 0 0;
    }
}

/* Стрелка влево */
.slick-arrow.slick-prev{
    left: 0;
    background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    
    background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li{
    list-style: none;
    margin: 10px 10px;
}

/* Активная точка */
.slick-dots li.slick-active{
}

.slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
}




.footer {
    width: 100%;
    height: 250px;
    background-color: silver;

    &__bottom {
        width: 100%;
        height: 50px;
        background-color: rgb(60, 63, 65);
    }

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: 175px;
        height: 250px;
        padding-top: 25px;
        text-align: center;

        p {
            @include text (18px, regular, #333);
            padding-bottom: 12px;
        }

        a {
            @include text (18px, regular, #333);
            padding-bottom: 12px;
            text-decoration: none;

            &:hover {
                color: white;
            }
        }
    }

    @media (max-width: 770px){
        &__item {
            p {
                @include text (12px, regular, #333);
                padding-bottom: 8px;
            }
    
            a {
                @include text (12px, regular, #333);
                padding-bottom: 8px;
            }
        }
    }
}
