@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Istok+Web:wght@700&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed&family=Staatliches&display=swap");
.fonts {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Staatliches', cursive;
  font-family: 'Francois One', sans-serif;
}

.colors {
  color: #e74c3c;
  color: #df4231;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

.header {
  height: auto;
}

.header__bg {
  background-color: #3c3f41;
}

.header .header__burger-row {
  width: 100%;
  height: 40px;
  background-color: #be1c0a;
  z-index: 10;
}

.header .header__burger-ul {
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header .header__burger-ul li {
  margin: 0 40px;
}

.header__row {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #3c3f41;
}

.header__logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__call {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.header__katalog {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #3c3f41;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__text {
  font-family: 'Istok Web', sans-serif;
  color: #fff;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.header__call {
  margin-left: 10%;
  color: #fff;
}

.header__call img {
  margin-left: 20px;
}

.header__phone {
  margin-left: 10px;
  color: #fff;
}

.header__phone p {
  padding: 3px;
}

.header__basket {
  width: 40px;
  height: 100%;
}

.header__menu {
  z-index: 1;
}

.header__list {
  display: none;
  list-style: none;
}

.header__list_2 {
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.header__list_2 li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.2s all ease;
}

.header__list_2 li:hover a {
  color: #fff;
}

.header__list_2 a {
  color: #333;
  transition: all .3s;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.header__list_2-bg {
  width: 100%;
  background-color: #e74c3c;
}

.header-row_2 {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  position: relative;
}

.header-row_2 input {
  width: 420px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ddd8d8;
  margin-left: 100px;
  outline: none;
  padding-left: 10px;
}

.header-row_2-img {
  position: absolute;
  left: 0;
  top: 10px;
}

.header-row_2__shop {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}

.header-row_2__user {
  width: 30px;
  height: 30px;
}

.header-row_2-icons {
  position: absolute;
  right: 0;
}

.header-row_2-img {
  width: 150px;
  height: 120px;
}

.header-row_3 {
  width: 100%;
  height: 40px;
  background-color: #e74c3c;
  z-index: 10;
}

@media (max-width: 768px) {
  .header__katalog {
    display: none;
  }
  .header__call {
    margin-left: 0;
    padding-right: 30px;
  }
  .header__text {
    display: none;
  }
  .header .header-row_2 {
    min-height: 100px;
    justify-content: center;
  }
  .header .header-row_2-logo {
    margin-right: 40px;
    margin-left: 20px;
  }
  .header .header-row_2-img {
    width: 70px;
    height: 70px;
  }
  .header .header-row_2__text {
    display: none;
  }
  .header .header-row_2__shop {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .header .header-row_2__user {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  .header .header-row_2 input {
    display: none;
  }
  .header .header-row_3 {
    display: none;
  }
  .header .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 11;
    cursor: pointer;
    left: 10px;
    top: 20px;
  }
  .header .header__burger-row {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    background-color: #111;
    z-index: 10;
  }
  .header .header__burger-row img {
    position: absolute;
    right: 0;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .3s ease 0s;
  }
  .header .header__burger::before,
  .header .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all .3s ease 0s;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__burger.active span {
    transform: scale(0);
  }
  .header .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background-color: #e74c3c;
    transition: all .5s ease 0s;
    padding: 70px 0 0 0;
  }
  .header .header__menu.active {
    left: 0;
    justify-content: center;
    overflow: auto;
    z-index: 10;
  }
  .header .header__list {
    display: block;
    align-items: center;
    padding: 30px 10px 20px 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .header .header__list li {
    padding-top: 15%;
  }
  .header .header__list_2 {
    display: none;
  }
}

@media (max-width: 668px) {
  .header__logo img {
    width: 80px;
    height: 80px;
  }
  .header__call {
    padding-right: 0px;
  }
}

@media (max-width: 450px) {
  .header__phone {
    font-size: 12px;
  }
  .header__katalog {
    display: none;
  }
  .header .header__menu {
    width: 70%;
  }
}

.sidebar {
  width: 200px;
  height: 200%;
  background-color: #ece7e7;
  padding-top: 155px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
}

.sidebar__item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
  transition: 0.2s all ease;
  cursor: pointer;
}

.sidebar__item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: regular;
  color: #333;
}

.sidebar__item:first-child {
  border-top: 1px solid silver;
}

.sidebar__item:hover {
  background-color: silver;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.catalog .container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.catalog {
  width: 100%;
}

.catalog__bg {
  background-image: url(../img/bg_catalog.jpg);
}

.catalog__block {
  height: 400px;
  margin-left: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog__title {
  text-align: center;
  font-size: 70px;
  margin-bottom: 30px;
}

.catalog__subtitle {
  text-align: center;
  margin-bottom: 15px;
}

.catalog__btn {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__btn button {
  border: none;
  background-color: #e74c3c;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  transition: all .3s;
}

.catalog__btn button:hover {
  width: 210px;
  height: 70px;
  color: #fff;
  background-color: #e9594a;
  font-size: 22px;
}

.catalog__btn a {
  padding: 15px 60px;
}

@media (max-width: 768px) {
  .catalog__btn {
    height: 130px;
    padding-bottom: 20px;
  }
  .catalog__title {
    padding-top: 40px;
    font-size: 50px;
  }
  .catalog__subtitle {
    margin-top: 15px;
    font-size: 20px;
  }
  .catalog__block {
    margin-right: 20px;
  }
}

.wrap__inner {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 200px;
}

@media (max-width: 768px) {
  .wrap__inner {
    padding-left: 0;
  }
}

.exclusive {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.exclusive__block {
  margin: 0 30px 30px 30px;
  padding: 10px;
  width: 400px;
  text-align: center;
  position: relative;
  background-color: #f3f0f0;
}

.exclusive__block:hover {
  box-shadow: 0 0 15px 8px silver;
}

.exclusive__block:hover button {
  opacity: 1;
}

.exclusive__block img {
  width: 100%;
}

.exclusive__block-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.exclusive__block-subtitle {
  margin-bottom: 15px;
}

.exclusive__block-btn button {
  opacity: 0;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #e74c3c;
  transition: opacity .3s;
}

@media (max-width: 768px) {
  .exclusive__block {
    max-width: 200px;
    max-width: 230px;
    margin-bottom: 10px;
  }
  .exclusive__block button {
    opacity: 1;
  }
}

.portfolio {
  display: flex;
  margin-bottom: 60px;
}

.slider {
  padding: 50px 0 0 0;
  position: relative;
}

.slider__title {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  color: #fff;
}

.slider__title-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #e74c3c;
}

.slider__item {
  display: flex;
  justify-content: center;
  outline: none;
}

.slider__item img {
  width: 520px;
  height: 360px;
}

.slider__btn {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn button {
  border: none;
  background-color: #e74c3c;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  transition: all .3s;
}

.slider__btn button:hover {
  width: 210px;
  height: 70px;
  color: #fff;
  background-color: #e9594a;
  font-size: 22px;
}

.slider__btn a {
  padding: 15px 20px;
}

.slider__bg {
  padding-top: 40px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .slider {
    margin-left: 0;
  }
}

@media (max-width: 468px) {
  .slider {
    padding: 0;
  }
  .slider__title {
    font-size: 40px;
  }
  .slider__item img {
    padding: 15px;
    width: 280px;
    height: 230px;
  }
  .slider__btn button {
    height: 40px;
    width: 140px;
    text-align: center;
  }
}

/* Слайдер */
.slick-slider {
  margin: 0 20px;
  min-width: 0;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px -50px 0 -50px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .slick-arrow {
    margin: -40px 0px 0 0px;
  }
}

@media (max-width: 468px) {
  .slick-arrow {
    width: 25px;
    height: 60px;
    margin: -40px 0px 0 0px;
  }
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l(1).svg") 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r(1).svg") 0 0/100% no-repeat;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 10px 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #3c3f41;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #3c3f41;
  border: none;
  border-radius: 50%;
  outline: none;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: silver;
}

.footer__bottom {
  width: 100%;
  height: 50px;
  background-color: #3c3f41;
}

.footer__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  width: 175px;
  height: 250px;
  padding-top: 25px;
  text-align: center;
}

.footer__item p {
  font-size: 18px;
  font-weight: regular;
  color: #333;
  padding-bottom: 12px;
}

.footer__item a {
  font-size: 18px;
  font-weight: regular;
  color: #333;
  padding-bottom: 12px;
  text-decoration: none;
}

.footer__item a:hover {
  color: white;
}

@media (max-width: 770px) {
  .footer__item p {
    font-size: 12px;
    font-weight: regular;
    color: #333;
    padding-bottom: 8px;
  }
  .footer__item a {
    font-size: 12px;
    font-weight: regular;
    color: #333;
    padding-bottom: 8px;
  }
}
